@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

h1{
  font-family: "Lobster Two", sans-serif;
  font-style: italic;
    text-align: center;
}

h2{
  font-family: "Lobster Two", sans-serif;
  font-style: italic;
    text-align: center;
}

div, p{
   font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

footer{
  min-height: 56px;
}

.card-height {
  height: 100%;
  width: 100%;
}